
<div data-ng-controller="MainPanelCtrl" class="main-panel">
  <div class="mainpanel-header">
    <h1>RememberAll</h1>
    <a href="#"><i class="fa fa-plus"></i>New Entry</a>
  </div>

  <div class="mainpanel-content">
    <ul>
      <span data-ng-repeat="resource in journal">
        <li class="entry-frame" data-ng-style="coverStyle(resource.thumbnail)">
          <span class="entry-title-box" data-ng-if="hasThumbnail(resource.thumbnail)">
            <div class="entry-title-box-text-title">{{resource.title}}</div>
            <div class="entry-title-box-text-time">{{resource.date}}</div>
          </span>
          <div class="entry-title-frame-title" 
            data-ng-if="!hasThumbnail(resource.thumbnail)">{{resource.title}}
          </div>
          <div class="entry-title-frame-time" 
            data-ng-if="!hasThumbnail(resource.thumbnail)">{{resource.time}}
          </div>
          <div class="entry-title-frame-text" 
            data-ng-if="!hasThumbnail(resource.thumbnail)">{{resource.content[0].value}}
          </div>
        </li>
      </span>
    </ul>
  </div>


</div>
