<div data-ng-controller="SideBarCtrl">
  <div class="sidebar">
      <section data-ng-init="tab = 1">
          <ul class="nav nav-pills">
            <li data-ng-class="{active:tab ===1}">
              <a href data-ng-click="tab=1">
                <i class="fa fa-search"></i>
                Search
              </a>
            </li>
            <li data-ng-class="{active:tab ===2}">
              <a href data-ng-click="tab=2">
                <i class="fa fa-floppy-o"></i>
                Saved
              </a>
            </li>
          </ul>
          
          <div class="aside" data-ng-show="tab===1">
            <div class="search-content">
              <form data-ng-submit="searchClicked(keywordString, timeString)">
                  <fieldset>
                      <label>Search by Keyword:</label>
                      <input id="keyword" 
                             type="text" 
                             class="searchinput" 
                             data-ng-model="keywordString"
                             placeholder="e.g. 'cat dead strange'">
                  </fieldset>
                  <br/>
                  <fieldset>
                      <label>Search by date and time</label>
                      <input id="time" 
                             type="text" 
                             class="searchinput" 
                             data-ng-model="timeString"
                             placeholder="e.g. September 20th, 2014">
                  </fieldset>
                  <br/>
                  <input type="submit" value="Search" class="searchsubmit">
              </form>
            </div>
            <div class="searchresultcontainer">
  <!--
              <img class="searchresult" data-ng-repeat="clip in searchResults" 
                   data-ng-click="editor(clip)"
                   data-ng-src="{{clip.thumbnail}}">
  -->     
                <div data-ng-repeat="clip in searchResults">
                <video class="searchresult"  controls>
                    <source src="{{ clip.video }}" type='video/mp4'>
                    <p>If you're reading this, your browser doesn't support mp4</p>
                </video>
                    <a href class="saveresult" 
                       data-ng-click="saveClip(clip.video)">
                      <i class="fa fa-floppy-o fa-2x"></i>
                    </a>
                    </div>
            </div>
          </div>
          <div class="aside" data-ng-show="tab===2">
                <div data-ng-repeat="clip in getSaved()">
                  <video class="searchresult"  controls>
                    <source src="{{ clip.url }}" type='video/mp4'>
                      <p>If you're reading this, your browser doesn't support mp4</p>
                  </video>
                </div>
          </div>
      </section>
  </div>
  <div data-ng-if='showModal()' class="modal-view">
      <!---->
    <div class="bg-modal"></div>
      <fieldset>
          <label>Enter Title</label>
        <input type="text" data-ng-model="title" placeholder="" class="title-input">
      </fieldset>
    
      <button class="btn btn-cancel" data-ng-click="clickModalCancel()">Cancel</button>
    <button class="btn btn-save" data-ng-click="clickModalSave()" value="Save">Save</button>
    
      
  </div>
  <!-- put modal in this div. make sure the cancel and save buttons in your modal have my ng click expressions exactly as you see them here.-->
</div>
