<div data-ng-controller="SideBarCtrl" class="sidebar">
    <ul>
        <li class="search active"><i class="fa fa-search"></i>Search</li>
        <li class="saved"><i class="fa fa-floppy-o"></i>Saved</li>
    </ul>
    
    <div class="sidebarcontent">
        <div class="search-content">
            <form>
                <fieldset>
                    <label>Search by Keyword:</label>
                    <input id="keyword" type="text" class="searchinput" placeholder="e.g. 'Math Lecture'">
                </fieldset>
                <br/>
                <fieldset>
                    <label>Search by date and time</label>
                    <input id="time" type="text" class="searchinput" placeholder="e.g. September 20th, 2014">
                </fieldset>
                <br/>
                <input type="submit" value="Search" class="searchsubmit">
                
                
            </form>
        </div>
        
    </div>
</div>
