<div data-ng-controller="SideBarCtrl" class="sidebar">
    <section data-ng-init="tab = 1">
        <ul class="nav nav-pills">
          <li data-ng-class="{active:tab ===1}">
            <a href data-ng-click="tab=1">
              <i class="fa fa-search"></i>
              Search
            </a>
          </li>
          <li data-ng-class="{active:tab ===2}">
            <a href data-ng-click="tab=2">
              <i class="fa fa-floppy-o"></i>
              Saved
            </a>
          </li>
        </ul>
        
        <div class="aside" data-ng-show="tab===1">
          <div class="search-content">
            <form data-ng-submit="search(keywordString, timeString)">
                <fieldset>
                    <label>Search by Keyword:</label>
                    <input id="keyword" 
                           type="text" 
                           class="searchinput" 
                           data-ng-model="keywordString"
                           placeholder="e.g. 'math, lecture'">
                </fieldset>
                <br/>
                <fieldset>
                    <label>Search by date and time</label>
                    <input id="time" 
                           type="text" 
                           class="searchinput" 
                           data-ng-model="timeString"
                           placeholder="e.g. September 20th, 2014">
                </fieldset>
                <br/>
                <input type="submit" value="Search" class="searchsubmit">
            </form>
          </div>
          <div class="searchresultcontainer">
            <img class="searchresult" data-ng-repeat="clip in searchResults" 
                 data-ng-click="editor(clip)"
                 data-ng-src="{{clip.thumbnail}}">
          </div>
        </div>
        <div class="aside" data-ng-show="tab===2">Saved Data</div>
    </section>
    
<!--
    <div class="sidebarcontent">
        <div class="search-content">
            <form>
                <fieldset>
                    <label>Search by Keyword:</label>
                    <input id="keyword" type="text" class="searchinput" placeholder="e.g. 'Math Lecture'">
                </fieldset>
                <br/>
                <fieldset>
                    <label>Search by date and time</label>
                    <input id="time" type="text" class="searchinput" placeholder="e.g. September 20th, 2014">
                </fieldset>
                <br/>
                <input type="submit" value="Search" class="searchsubmit">
                
                
            </form>
        </div>
        
    </div>
-->
</div>
