@import url(http://fonts.googleapis.com/css?family=Merriweather);
/* line 39, ../sass/style.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* line 46, ../sass/style.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 60, ../sass/style.scss */
.main-panel {
  display: flex;
  float: left;
  width: 75%;
  max-height: 100%;
  background-color: #fff;
  -webkit-flex-direction: column;
  flex-direction: column;
}
/* line 72, ../sass/style.scss */
.main-panel .mainpanel-header {
  font-family: sans-serif;
  padding: 20px;
  border-bottom: 1px solid #ebebeb;
  flex: 0 0 auto;
}
/* line 78, ../sass/style.scss */
.main-panel .mainpanel-header h1 {
  display: inline;
  font-family: Helvetica;
  font-size: 1.6em;
  font-weight: bold;
}
/* line 85, ../sass/style.scss */
.main-panel .mainpanel-header a {
  margin-top: -5px;
  text-decoration: none;
  float: right;
  padding: 10px;
  color: #0079ff;
  border: 2px solid #0079ff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
/* line 96, ../sass/style.scss */
.main-panel .mainpanel-header a:hover {
  background: #0079ff;
  color: #fff;
}
/* line 101, ../sass/style.scss */
.main-panel .mainpanel-header a i {
  font-size: 1.2em;
  margin-right: 3px;
}
/* line 109, ../sass/style.scss */
.main-panel .mainpanel-content {
  padding: 40px;
  flex: auto;
  overflow-y: auto;
}
/* line 114, ../sass/style.scss */
.main-panel .mainpanel-content .entry-frame {
  height: 270px;
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 15px;
  width: 480px;
  background-color: #262626;
}
/* line 122, ../sass/style.scss */
.main-panel .mainpanel-content .entry-frame .entry-title-box {
  margin-right: 15px;
  margin-bottom: 15px;
  height: 270px;
  width: 480px;
  background-color: #262626;
}

/* line 135, ../sass/style.scss */
.sidebar {
  display: inline;
  float: right;
  width: 25%;
  min-height: 100%;
  background: #262626;
  color: #fff;
  font-family: sans-serif;
}
/* line 146, ../sass/style.scss */
.sidebar .active {
  color: #0079ff;
}
/* line 151, ../sass/style.scss */
.sidebar ul {
  margin: 0 0;
}
/* line 155, ../sass/style.scss */
.sidebar li {
  display: inline;
  padding: 50px;
}
/* line 159, ../sass/style.scss */
.sidebar li i {
  font-size: 1.2em;
  margin-right: 3px;
}
/* line 165, ../sass/style.scss */
.sidebar .search-content {
  padding: 20px;
}
/* line 168, ../sass/style.scss */
.sidebar .search-content form fieldset input {
  padding: 5px;
  color: #262626;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
/* line 173, ../sass/style.scss */
.sidebar .search-content form fieldset input:focus {
  outline: none;
  border: 2px solid #0079ff;
}
/* line 180, ../sass/style.scss */
.sidebar .searchinput {
  width: 300px;
}
/* line 184, ../sass/style.scss */
.sidebar .searchsubmit {
  width: 300px;
  color: #fff;
  border: 0px;
  background-color: #0079ff;
  padding: 7px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
