
@import url(http://fonts.googleapis.com/css?family=Merriweather);
// Variables and Mixins

$light-grey: #ebebeb;
$dark-grey: #262626;
$med-grey: hsl(0, 0%, 25%);
$blue: #0079FF;
$serif: 'Merriweather', 'Georgia', serif;    
$sans: sans-serif;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($grow, $shrink, $basis){
  -webkit-flex:$grow $shrink $basis;
  -moz-flex:$grow $shrink $basis;
  flex:$grow $shrink $basis;
}

@mixin box-sizing($sizing) {
  -webkit-box-sizing: $sizing;
  -moz-box-sizing: $sizing;
  box-sizing: $sizing;
}



@mixin multiline-ellipsis($height, $lineheight, $ellipsiswidth) {

$ellipsiswidth: 3em !default;

	.ellipsis {
		overflow: hidden;
		height: $height;
		line-height: $lineheight; }

	.ellipsis:before {
		content:"";
		float: left;
		width: 5px; height: $height; }

	.ellipsis > *:first-child {
		float: right;
		width: 100%;
		margin-left: -5px; }		

	.ellipsis:after {
		content: "\02026";

		float: right; position: relative;
		top: -25px; left: 100%; 
		width: $ellipsiswidth; margin-left: -$ellipsiswidth;
		padding-right: 5px;
		
		text-align: right;
		background: white;
		background: -webkit-gradient(linear, left top, right top,
				from(rgba(255, 255, 255, 0)), to(white), color-stop(50%, white));
			background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);			
			background: -o-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
			background: -ms-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
			background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white)
	}

}

// Styling

* {
    @include box-sizing(border-box);
    margin: 0;
    padding: 0;
    
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.view { 
//    @include flexbox();
//    -webkit-flex-flow: row;
//    flex-flow: row;
//    flex-direction: row-reverse;
}



.main-panel {
//    @include flex(0,0,auto);
//    display: inline;
    display: flex;
    float:left;
    width: 75%;
    max-height: 100%;
//    padding: 20px;
    background-color: #fff;
    -webkit-flex-direction: column;
    flex-direction: column;
    
    .mainpanel-header {
        font-family: $sans;
        padding: 20px;
        border-bottom: 1px solid $light-grey;
        flex: 0 0 auto;
//        background-color: blue;
        h1 {
            display: inline;
            font-family: Helvetica;
            font-size: 1.6em;
            font-weight: bold;
        } 
        
        a { 
//            font-family: $sans;
            margin-top: -5px;
            text-decoration:none;
            float: right;
            padding:10px;
            color: $blue;
            border: 2px solid $blue;
//            background: $blue;
            @include border-radius(5px);
            
            &:hover {
                background: $blue;
                color: #fff;
            }
            
            i {
                font-size: 1.2em;
                margin-right: 3px;
            }
        }
        
    }
    
    .mainpanel-content {
        padding: 40px;
        flex: auto;
        overflow-y: auto;
        
        li {
            overflow: hidden;
            cursor: pointer;
            &:hover {
                opacity: 0.85;    
            }
            
        }
        
        .entry-frame {
          height: 270px;
          display: inline-block;
          margin-right: 15px;
          margin-bottom: 15px;
          width: 480px;
          background-color: $dark-grey;

          .entry-title-box {
            margin-right: 15px;
            margin-bottom: 15px;
            margin-top: 189px;
            height: 81px;
            width: 480px;
            background-color: $dark-grey;
            display: inherit;
            opacity: .8;

            .entry-title-box-text-title {
              color: #ffffff;
              padding: 5px 15px 0;
              display: inherit;
              font-family: sans-serif;
              font-size: 2.2em;
            }

            .entry-title-box-text-time {
              color: #ffffff;
              padding: 0 15px 0;
              display: inherit;
              font-family: sans-serif;
              font-size: 1.2em;
              font-style: italic;
            }
          } 
          .entry-title-frame-title {
              color: #ffffff;
              padding: 10px 15px 0;
              display: inherit;
              font-family: sans-serif;
              font-size: 2.2em;
              width: 480px;
          }
          .entry-title-frame-time {
              color: #ffffff;
              padding: 0 15px 0;
              display: inherit;
              font-family: sans-serif;
              font-size: 1.2em;
              font-style: italic;
              width: 480px;
          }
          .entry-title-frame-text {
              color: #ffffff;
              margin-top: 10px;
              padding: 0 15px 0;
              display: inherit;
              font-family: sans-serif;
              font-size: 1.5em;
              width: 480px;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
          }
        }
    }
}


.sidebar {
//    @include flex(0,0,auto);
    display: inline;
    float:right;
    width: 25%;
    min-height: 100%;
    background: $dark-grey;
    color: #fff;
    font-family: $sans;
    
    
    .active {
        border-bottom: 3px solid $blue;
        @include border-radius(0);
    }
    
    ul { 
        margin: 0 0;
    }
    
    li {
        display: inline;
        padding: 20px 40px;
        
        i {
            font-size: 1.2em;
            margin-right: 3px;
        }
        
        a {
            color: #fff;
            &:hover {
                background-color: $med-grey;
            }
        }
        
    }
    
    .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
        background: transparent;
        color: $blue;
    }
    
    .nav-pills > li > a:hover {
        background: transparent;
    }
    
    .search-content {
        padding: 20px;
        
        form fieldset input {
            padding: 5px;
            color: $dark-grey;
            @include border-radius(5px);
            
            &:focus {
                outline: none;
                border: 2px solid $blue;
            }
        }
    }
    
    .searchinput {
        width: 100%;
    }
    
    .searchsubmit {
        width: 100%;
        color: #fff;
        border: 0px;
        background-color: $blue;
        padding: 7px;
        @include border-radius (5px);
    }
    
    .aside {
        overflow: auto;
    }

    .searchresult {
        display: inline-block;
        width: 85%;
        padding: 10px 20px;
    }
    
    .saveresult {
        display: inline-block;
    }
    .searchresultcontainer {
        height: 400px;
        overflow-y: visible;
        
        img {
            cursor: pointer;
            &:hover {
                opacity: 0.7;
            }
        }
    }
}
